<h2>Visualizations</h2>

<%# TODO could generate this list from Books module %>
<ul>
  <li><%= link_to "Pride and Prejudice", visual_toc_path("pride_and_prejudice") %></li>
  <li><%= link_to "Persuasion", visual_toc_path("persuasion") %></li>
  <li><%= link_to "Northanger Abbey", visual_toc_path("northanger_abbey") %></li>
  <li><%= link_to "Sense and Sensibility", visual_toc_path("sense_and_sensibility") %></li>
  <li><%= link_to "Emma", visual_toc_path("emma") %></li>
  <li><%= link_to "Mansfield Park", visual_toc_path("mansfield_park") %></li>
</ul>