<h2>Visualizations</h2>

<%# TODO could generate this list from Books module %>
<ul class="visualizations_list">
  <li class="pap"><span><%= link_to "Pride and Prejudice", visual_toc_path("pride_and_prejudice") %></span></li>
  <li class="p"><span><%= link_to "Persuasion", visual_toc_path("persuasion") %></span></li>
  <li class="na"><span><%= link_to "Northanger Abbey", visual_toc_path("northanger_abbey") %></span></li>
  <li class="sas"><span><%= link_to "Sense and Sensibility", visual_toc_path("sense_and_sensibility") %></span></li>
  <li class="e"><span><%= link_to "Emma", visual_toc_path("emma") %></span></li>
  <li class="mp"><span><%= link_to "Mansfield Park", visual_toc_path("mansfield_park") %></span></li>
</ul>