<h2>Austen Word Frequencies</h2>

<p>Select characters and the frequencies for that character will appear at the bottom.</p>

<div class="row">
  <div class="col-md-6">
	  
	  	 <ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active">
    <a href="#one" aria-controls="home" role="tab" data-toggle="tab">Pride and Prejudice</a>
  </li>
  <li role="presentation">
    <a href="#two" aria-controls="settings" role="tab" data-toggle="tab">Persuasion</a>
  </li>
  <li role="presentation">
    <a href="#three" aria-controls="messages" role="tab" data-toggle="tab">Northanger Abbey</a>
  </li>
  <li role="presentation">
    <a href="#four" aria-controls="settings" role="tab" data-toggle="tab">Sense and Sensibility</a>
  </li>
  <li role="presentation">
    <a href="#five" aria-controls="settings" role="tab" data-toggle="tab">Emma</a>
  </li>
  <li role="presentation">
    <a href="#six" aria-controls="profile" role="tab" data-toggle="tab">Mansfield Park</a>
  </li>
  <li role="presentation">
    <a href="#seven" aria-controls="profile" role="tab" data-toggle="tab">All Novels</a>
  </li>
</ul>

<div class="tab-content">

  <div class="tab-pane active" id="one" role="tabpanel">
    <%= render :partial => "pride_and_prejudice" %>
  </div>

  <div role="tabpanel" class="tab-pane" id="two">
    <%= render :partial => "persuasion" %>
  </div>
  <div role="tabpanel" class="tab-pane" id="three">
    <%= render :partial => "northanger_abbey" %>
  </div>
  <div role="tabpanel" class="tab-pane" id="four">
    <%= render :partial => "sense_and_sensibility" %>
  </div>
  <div role="tabpanel" class="tab-pane" id="five">
    <%= render :partial => "emma" %>
  </div>
  <div role="tabpanel" class="tab-pane" id="six">
    <%= render :partial => "mansfield_park" %>
  </div> 
  <div role="tabpanel" class="tab-pane" id="seven">
    <%= render :partial => "all_novels" %>
  </div> 
	  
</div>
	  
  </div>
  <div class="col-md-6">
	  
	   <h3>Selected Frequencies</h3>
  <div class="text-display-container"/>
</div>

	  
  </div>
</div>

	  

	  



	





  

  </div><!-- I don't know why this needs to be here but the fuuter does not display correctly without it -->