<h3>Download Our Data</h3>

<h4>Novel TEI-XML</h4>
<p>
  The TEI below contains the markup that was used to power the <%= link_to "visualizations", visual_index_path %>.
</p>
<div class="list-group">
  <a href="<%= "#{request.base_url}/aus.005.xml" %>" class="list-group-item">Emma</a>
  <a href="<%= "#{request.base_url}/aus.006.xml" %>" class="list-group-item">Mansfield Park</a>
  <a href="<%= "#{request.base_url}/aus.003.xml" %>" class="list-group-item">Northanger Abbey</a>
  <a href="<%= "#{request.base_url}/aus.002.xml" %>" class="list-group-item">Persuasion</a>
  <a href="<%= "#{request.base_url}/aus.001.xml" %>" class="list-group-item">Pride and Prejudice</a>
  <a href="<%= "#{request.base_url}/aus.004.xml" %>" class="list-group-item">Sense and Sensibility</a>
</div>