<!DOCTYPE html>
<html xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:functx="http://www.functx.com" xmlns="http://www.w3.org/1999/xhtml" class="<%= @page_class %>" hc="a0" hcx="0">
<head>
  <title>Austen</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  
  <!-- Stylesheets -->
  
  <!-- Only need to call application because application calls the other two? -kmd 
	  todo figure this out and then remove comment -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>



  <!-- Scripts -->
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %>
  <!-- As above, application is calling the other files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  

</head>

<body>
	
	<div class="header"><div class="container"><div class="site_title">
	<h1>Austen <span class="title_said">Said</span>:</h1>
	<h2>Patterns of Diction in <span class="secondary_title">Jane Austen's Major Novels</span></h2>
</div></div>


<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Word Frequencies", frequency_path %></li>
            <li><%= link_to "Novel Visualizations", visual_index_path %></li>
            <li><%= link_to "Background", background_path %></li>
            <li><%= link_to "Search & Browse", search_path %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>
        </div>

      </div>
    </div>
</div><!-- /header -->


    <div class="container" id="wrapper">
      <%= yield %>
    </div>


 <div class="footer">
	        <div class="container">
		        <p>Footer Stuff</p>
	        </div>
	        
        </div><!-- /footer -->
</body>
</html>
